body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

h1, h2, table {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

table, th, td {
    border: 1px solid #00b894;
}

tr:first-child {
    background-color: #00b894;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
}